<div class = "container center centered">
<h1 class='fancy-font center'>Welcome to (not) Yahtzee!</h1>
<hr>

<h2 class = 'fancy-font center'>Rules</h2>
<p>Each hand consists of three rolls of five dice.</p>
<p>You can hold dice between turns, just simply click on the one you wish to keep!</p>
<p>The goal is to earn as many points as possible!  Each category has a different rule, simply mouse over the info circle to see how you can get points!</p>
<br>
<a href='/#/play'><button class = 'btn btn-primary'>Play!</button></a>


<h3 class = 'fancy-font center'>Accounts</h3>
<p>With an account, you can keep track of your stats!  You can keep track of:
<p>Your high score</p>
<p>Average score</p>
<p>Yahtzees rolled</p>
<p>All time points scored</p>

<p>You can play without an account, it just wont keep track of your data!</p>
<br>
<a href='/#/register'><button class = 'btn btn-warning'>Make an Account</button></a>


</div>

