<div class = 'center'>
<h1 class='fancy-font'>Login</h1>
<hr>
  <form name='loginFormName'>
    <div class='form'>
      <div class='form-group'>
        <label for="email-input-register">Email address</label>
        <input type="email" class="form-control small-input" placeholder="user@gmail.com" ng-model="loginForm.username" required>
      </div>

      <div class='form-group'>
        <label for="password-input-login">Password</label>
        <input type="password" class="form-control small-input" placeholder="password" ng-model="loginForm.password" required>
      </div>

    <div ng-show='error'><h4>{{errorMessage}}</h4></div>
    <button ng-disabled="loginFormName.$invalid" class='btn btn-primary' ng-click="login()">Login</button>
  </form>

    <br><br>
    <a href="/#/register"><button type='button'class='btn btn-warning'>Need an Account?</button></a>
  </div>
</div>
